.button {
        -fx-background-color: #f0f0f0;
        -fx-background-radius: 15;
        -fx-border-radius: 15;
        -fx-border-color: transparent;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-text-fill: #333;
        -fx-padding: 5 20;
}
.button:pressed {
        -fx-background-color: #dcdcdc;
}